<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dave's Game</title>
    <meta name="description" content="A game made by David Scales">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Game!
      </h1>
    </header>
    <main>
      <canvas id="ctx" width="500" height="500" style="border: 1px solid black "></canvas>
    </main>
    <br>
    <footer>
      Made by <a href="https://github.com/DavidScales">David Scales</a> on <a href="https://glitch.com">Glitch</a>!
    </footer>
    <!-- server automatically by socket.io serverside library -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js" defer></script>
  </body>
</html>
