<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dave's Game</title>
    <meta name="description" content="A game made by David Scales">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1> Game! </h1>
    </header>
    <main>

      <!-- TODO: cleanup -->

      <div id="auth">
        <label>
          Username: <input type="text" name="username" id="username">
        </label>
        <label>
          Password: <input type="password" name="password" id="password">
        </label>
        <button id="sign-in">Sign In</button>
        <button id="sign-up">Sign Up</button>
      </div>

      <div id="game" style="display: none;">
        <canvas id="ctx" width="500" height="500" style="border: 1px solid black "></canvas>

        <div id="chat-text" style="width: 500px; height: 100px; overflow-y: scroll;">
          <p>Welcome!</p>
        </div>

        <form action="" id="chat-form">
          <input type="text" id="chat-input" style="width: 500px;">
        </form>
      </div>

    </main>
    <br>
    <footer>
      Made by <a href="https://github.com/DavidScales">David Scales</a> on <a href="https://glitch.com">Glitch</a>!
    </footer>
    <!-- served automatically by socket.io serverside library -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js" defer></script>
  </body>
</html>
